{% extends 'base.html' %}

{% block content %}
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {% include 'card.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form method="post" action="{{ url_for('degree_create') }}">
                    <div class="form-group">
                        <label for="name">Nom du joueur</label>
                        <input type="text" class="form-control" id="name" name="player_name"
                               placeholder="Entrez un nom...">
                    </div>
                    <div class="form-group">
                        <label for="score">Score</label>
                        <input type="number" class="form-control" id="score" min="1" name="player_score"
                               placeholder="Le score est de ...">
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </form>

                <br style="margin-top: 100px"/>

                <form method="post" action="{{ url_for('degree_validate') }}">
                    <div class="form-group">
                        <label for="signature">Collez votre signature en format hex ici</label>
                        <textarea class="form-control" id="signature" rows="3" name="hex_signature"
                                  placeholder="Collez votre signature en format hex ici..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Vérifier</button>
                </form>
            </div>
        </div>
    </div>
</header>

{% endblock %}